﻿@model EmployeeCreateVm


        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-action="Index">Employee List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">New Employee</li>
                        </ol>
                    </nav><br /><br />
                                <form method="post" enctype="multipart/form-data" asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="EmployeeNo"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="EmployeeNo" class="form-control" placeholder="EMP000" />
                                            <span asp-validation-for="EmployeeNo" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="DateJoined"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="DateJoined" class="form-control" />
                                            <span asp-validation-for="DateJoined" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="FirstName"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="FirstName" class="form-control" placeholder="Enter first name" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <input asp-for="MiddleName" class="form-control" placeholder="Enter middle name" />
                                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label asp-for="LastName"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="LastName" class="form-control" placeholder="Enter last name" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="Gender"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select class="form-check" asp-for="Gender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                            <span asp-validation-for="Gender" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2"></div>

                                        <div class="form-group col-md-2">
                                            <label asp-for="DOB"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="DOB" class="form-control" />
                                            <span asp-validation-for="DOB" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="NationalInsuranceNo"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="NationalInsuranceNo" class="form-control" placeholder="SC112233A" />
                                            <span asp-validation-for="NationalInsuranceNo" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="Email"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="Email" class="form-control" placeholder="Enter your Email" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="Phone"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="Phone" class="form-control" placeholder="Enter phone No" />
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="PayMentMethod"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select asp-for="PayMentMethod" class="form-control" asp-items="Html.GetEnumSelectList<PayComputeApp.Enitity.PayMentMethod>()"></select>
                                            <span asp-validation-for="PayMentMethod" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="StudentLoan"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select asp-for="StudentLoan" class="form-control" asp-items="Html.GetEnumSelectList<PayComputeApp.Enitity.StudentLoan>()"></select>
                                            <span asp-validation-for="StudentLoan" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="UnionMember"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <select asp-for="UnionMember" class="form-control" asp-items="Html.GetEnumSelectList<PayComputeApp.Enitity.UnionMember>()"></select>
                                            <span asp-validation-for="UnionMember" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label asp-for="Designation"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <input asp-for="Designation" class="form-control" placeholder="Enter Role" />
                                            <span asp-validation-for="Designation" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="form-group col-md-2">
                                            <label asp-for="ImageUrl"></label>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="btn btn-primary btn-icon-text">
                                                <i class="fas fa-cloud-upload-alt"></i>
                                                <input asp-for="ImageUrl" type="file" value="Upload" />
                                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Address"></label>
                                        <input asp-for="Address" class="form-control" placeholder="Enter Address" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="City"></label>
                                        <input asp-for="City" class="form-control" placeholder="Enter city" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PostCode"></label>
                                        <input asp-for="PostCode" class="form-control" placeholder="Enter post Code" />
                                        <span asp-validation-for="PostCode" class="text-danger"></span>
                                    </div><br /><br />
                                    <div class="form-group">
                                        
                                     <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square mr-2"></i>Save</button>
                                      <a asp-action="Index" class="btn btn-rounded btn-success float-right"><i class="fas fa-backward mr-2"></i>Back</a>
                                      <br />
                                      <br />
                                      <br />
                                    </div>
                                </form>
                </div>
            </div>
        </div>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
    