﻿@model EmployeeListPagination<EmployeeIndexVm>

@{ 
    ViewBag.Title = "Employee";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create">New Employee</a>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Employee No.</th>
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Designation</th>
                                    <th>City</th>
                                    <th>Joined</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.Id">
                                                @item.EmployeeNo
                                            </a>
                                        </td>
                                        <td>
                                            <img alt="img" src="@Url.Content(item.ImageUrl)" />
                                        </td>
                                        <td>@item.FullName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Designation</td>
                                        <td>@item.City</td>
                                        <td>@item.DateJoined.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit mr-2"></i>Edit</a>
                                            <a class="text-success" asp-action="Detail" asp-route-id="@item.Id"><i class="fas fa-align-justify mr-2"></i>Detail</a>
                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash mr-2"></i>Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />
                        @{
                            var disablePrevious = !Model.IsPreviousPageAvailable ? "disabled" : "";
                            var disableNext = !Model.IsNextPageAvailable ? "disabled" : "";
                        }

                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           class="btn btn-primary @disablePrevious">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           class="btn btn-primary @disableNext">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>