﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Pay Compute Application</h1>
    <p>We <a href="#">Bridge gaps in pay roll sysytem</a>.</p>
</div>
